<div *ngFor="let plato of platos" class="card card-body mb-2">
  <div class="row">
    <div class="col-md-8">
      <ul>
        <li>
          Nombre: {{plato.nombre}}
        </li>
        <li>
          Precio: {{plato.precio}}
        </li>
      </ul>
      <button type="submit" class="btn btn-primary btn-block" (click)="deletePlato(plato._id!)">
        Eliminar
      </button>
      <button class ="btn btn-secondary" [routerLink]="['/plato/edit', plato._id]">
        Editar
      </button>
    </div>
  </div>
</div>