<div *ngFor="let mesa of mesas" class="card card-body mb-5">
    <div class="row">
      <div class="col-md-8">
        <ul>
          <li>
            id: {{mesa._id}}
          </li>
          <li>
            numero: {{mesa.numeroDeMesa}}
          </li>
          <li>
            ubicacion: {{mesa.ubicacion}}
          </li>
          <li>
            total: {{mesa.total}}
          </li>
          <li>
            platos: {{mesa.platos}
          </li>
        </ul>
        <button type="submit" class="btn btn-primary btn-block" (click)="deleteMesa(mesa._id!)">
          Eliminar
        </button>
      </div>
    </div>
  </div>
